@import  '../../../../../assets/sass/mixin'; 
.delete__user {
  @include panelSuperAdmind;
  background-color: rgb(151, 20, 20);

  button{
    background-color: rgb(184, 10, 10);
    &:hover{
      background-color: rgb(141, 7, 7);
   }
  }
}
