@import  '../../../../../assets/sass/mixin'; 
.remove__admin {
  @include panelSuperAdmind;
  background-color: rgb(167, 110, 35);
  button{
    background-color: rgb(190, 94, 16);
    &:hover{
      background-color: rgb(121, 62, 14);
   }
  }
}
