@import '../../../assets/sass/variants';

.singleProduct__main{
  width: 100%;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
 
}