@import '../../../../../assets/sass/variants';

.productFigure__main{
  width: 60%;
  height: 100%;
  
  border-radius: 5px 0 0 0;
  .singleProduct__cont_img{
    width: 100%;
    height: 75%;
    
    img{
      width: 350px;
      height: 400px;
      margin: 20px;
      border-radius: 5px;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.534);
    }
  }
  figcaption{
    width: 100%;
    height: 25%;
    background: rgba(0, 0, 0, 0.473);
    text-align: start;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.534);
    padding: 20px;
    overflow-y: auto;



    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }
     &::-webkit-scrollbar-thumb:active {
      background-color: #791c15;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #790d09;
    }
    &::-webkit-scrollbar-thumb {
      
      background-color: #740909;
    }
    &::-webkit-scrollbar-track:active {
      background-color: #911a1a;
    }
     &::-webkit-scrollbar-track:hover {
     background-color: #333333;
   }
   &::-webkit-scrollbar-track {
      
      background-color: #333333;
      transition: all ease .3s;
    }






    h2{
      text-decoration: underline;
      
    }
    p{
      margin: 10px 0;
    }

  }
}