@import '../../../../../assets/sass/variants';
.shoppingMenu__main{
    width: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: start;
   
    
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.445);
    border-radius: 0px 5px 5px 0;
    button{
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.418);
    }

}