@import "../../../../assets/sass/variants";

//contenedor de la grilla

.grid__main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  


  .grid__cont_page{
    width: 80%;
    margin: 10px auto;
    height: 30px;
    display: flex;
    justify-content: center;

    .grid__page{
      height: 50px;
    }
  }
}
