#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main__main{
  height: 100%;
  background: rgb(133,14,21);
  background: linear-gradient(0deg, rgb(152, 30, 38) 0%, rgb(50, 9, 5) 100%);
}
