@import '../../../assets/sass/variants';

.navBar__main{
 
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.178);
  a{
    user-select: none;
    color: $color6;
    cursor: pointer;
  }
  a:hover, a:focus{
    color: $color5;
  }
  a:active{
    color: rgb(82, 25, 49);
  }
}