@import '../../../assets/sass/variants';

.navBar__{
  &main{
 
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
    position: relative;
    a{
      
      user-select: none;
      color: $color6;
      cursor: pointer;
    }
    a:hover, a:focus{
      color: $color5;
    }
    a:active{
      color: rgb(82, 25, 49);
    }
  }

  a{
    position: relative;
  }
  &dropdown{
    width: 60%;
    min-height: 10rem;
    max-height: 15rem;
    position: absolute;
    background-color: rgb(85, 8, 8);
    top: 2rem;
    right: 20%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    text-align: start;
   
  }
}