
//component grid
$color-fondo: #f9f9f9;
$color-borde: #ccc;
$color-titulo: #333;
$color-precio: #8B0000;
$espaciado: 20px;

$color1:#170000;
$color2:#350a06;
$color3:#56070c;
$color4:#8f3d38;
$color5:#cb7169;
$color6:#E0E0E0;

$background-gradient: linear-gradient(0deg, rgba(143,61,56,1) 0%, rgba(86,7,12,1) 100%);
$background-color:  rgb(143,61,56);

